<div
  class="container bg-light text-left text-monospace mb-2 pb-3"
  *ngIf="hotel != null; else noData"
>
  <img [src]="hotel.img" alt="Hotel Photo" />

  <h1>{{ hotel.name | uppercase }}</h1>
  <h6>{{ hotel.cuisine }}</h6>
  <h6>
    {{ hotel.neighborhood }}
  </h6>
  <p class="d-flex align-items-center">
    {{ hotel.operating_hours | amPm }}
    <mat-icon class="ml-2">info</mat-icon>
  </p>

  <button mat-raised-button class="black-btn" (click)="reviewHotel()">
    <mat-icon>star</mat-icon>Add Review
  </button>
</div>
<div
  class="container bg-light text-left"
  *ngIf="hotel?.reviews != null && hotel?.reviews?.length > 0"
>
  <div *ngFor="let review of hotel?.reviews" class="review p-3">
    <b id="name">{{ review.name }}</b>
    <p class="text-monospace" id="date">{{ review.date }}</p>
    <div>
      <ul
        class="list-inline rating-list m-0 p-0"
        *ngFor="let star of stars"
        style="display: inline-block"
      >
        <li [ngClass]="{ selected: star <= review?.rating }">
          <mat-icon>star</mat-icon>
        </li>
      </ul>
    </div>
    <p id="comment">{{ review.comment?.body }}</p>
  </div>
</div>
<!-- No Data -->
<ng-template #noData>
  <h2
    class="d-flex justify-content-center align-items-center m-4 w-100"
    style="height: 400px"
  >
    No Data Found
  </h2>
</ng-template>
