/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.black-btn{
    background-color: rgb(16, 16, 16);
    color: whitesmoke;
    font-family: monospace;
}
.black-btn mat-icon{
    font-size: 20px;
    padding-right: 5px;
}
.bg-light{
    background-color: #e5e9ee !important;
}